@import "tailwindcss";

:root {
  --background: #111;
  --foreground: #eee;
}

@theme {
  --color-accent: #ffa500;
  --text-title: 48px;
  --text-title--line-height: 1;
  --text-body: 16px;
  --text-info: 13px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100dvh;
}
